.hidden{
    display: none
}
.show{
    display: block;
}
.border-style{
    border: 3px solid red;
}
.resize{
  width: 100px;
  height: 100px;
}
.btn{
   background-color: purple; 
    color: white;
    padding: 10px;
    border: 1px solid;
    border-radius: 5px;
}